body {
    background-color: #ADFF2F; /* Replace with your desired color */
}

.rst-content h1 {
    color: #57068c !important;  /* NYU Purple */
}

.rst-content h2 {
    color: #4682b4 !important;  /* Steelblue */
}

.rst-content h3 {
    color: #2e8b57 !important;  /* Seagreen */
}