body {
    background-color: #ADFF2F; /* Replace with your desired color */
}

.rst-content h1 {
    font-size: 3em !important;
    color: #57068c !important;  /* NYU Purple */
    text-align: center !important;
}

.rst-content h2 {
    font-size: 2em !important;
    color: #4682b4 !important;  /* Steelblue */
}

.rst-content h3 {
    font-size: 1.5em !important;
    color: #708090 !important;  /* Slate Gray */
}

.rst-content p {
    text-align: justify !important; /* text justification*/
}